<% layout("/layouts/boilerplate") %>
<body>
    <h1>All listings</h1>
    <form action="/listings/new" method="GET">
     <!--   <button>Create new Listing</button>  -->

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
  <% for (let listing of allListings) { %>
    
    <div class="card listing-card h-100 col mb-4">
      
      <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem; object-fit: cover;">
      
      <div class="card-img-overlay">
        Ayush
      </div>

      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b>
          <br>
          &#8377; <%= listing.price?.toLocaleString("en-IN") %>/night
        </p>
      </div>

      <a href="/listings/<%= listing._id %>" class="stretched-link"></a>

    </div>

  <% } %>
</div>

  


